<?xml version="1.0" encoding="utf-8"?> 
<!-- 
	@name: Android Manifest
	@info: PDF Annotation: inserted two new activity and permission to get accounts
	@date: 2010-04-20
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="cx.pdf.android.pdfview"
        android:versionCode="115" 
        android:versionName="1.1.15"><!-- 0.3.1dev7 -->

    <!-- android:installLocation="auto" since Android 2.3 -->
    <!-- 3 is 1.5 or later, that's more than 99% of devices, 7 is 2.1 and 98% devices -->
	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>

	<supports-screens
            android:smallScreens="true"
            android:normalScreens="true" 
            android:largeScreens="true"
            android:anyDensity="true"
            android:resizeable="true"/>    

	<application android:icon="@drawable/pdfannot"
            android:label="@string/app_name">

		<activity android:name=".ChooseFileActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".OpenFileActivity" android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:mimeType="application/pdf" android:scheme="file"></data>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:mimeType="application/pdf" android:scheme="content"></data>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:host="*" android:scheme="file"
					android:pathPattern=".*\.[pP][dD][fF]" />
			</intent-filter>
		</activity>

		<activity android:name=".AboutPDFViewActivity" android:label="@string/app_name" />
		<activity android:name=".AnnotationActivity" android:label="@string/app_name" />
		<activity android:name=".AnnotationListActivity" android:label="@string/app_name" />
		<activity android:name="cx.pdf.android.pdfview.Options" android:label="@string/options" />

	</application>
	

</manifest>